{% extends 'cvForm/index.html.twig' %}

{% block up_scripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>

{% endblock %}

{% block page_content %}


    <section class="login-block">
        <div class="container" style="min-width: 350px; max-width: 400px;">
            <div class="row">
                <div class="col-12 login-sec">
                    <p class="text-center"><img src="https://www.casabonsucesso.com.br/img/LOGO_COMPLETO_200px.jpg"/>
                    </p>
                    <h2 class="text-center">Cadastro de Currículos</h2>


                    {% if error is defined %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}


                    <div id="fixedFlashes"></div>

                    <form class="login-form" action="/cvForm/login" method="post" id="loginForm">

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('login') }}"/>

                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input type="text" class="form-control cpf" name="cpf" id="cpf"
                                   value="{{ cpf|default('') }}" />
                        </div>
                        <div class="form-group">
                            <label for="password_login">Senha</label>
                            <input type="password" class="form-control" name="password" id="password"/>
                            <small id="emailHelp" class="form-text text-muted text-right">
                                <button type="button" id="btnEsqueciMinhaSenha" name="btnEsqueciMinhaSenha"
                                        value="Esqueci minha senha"
                                        class="btn btn-sm btn-outline-primary"><i class="far fa-frown"></i> Esqueci
                                    minha senha
                                </button>
                            </small>
                        </div>
                        <div class="form-check">
                            <button type="submit" name="btnLogin" id="btnLogin" class="btn btn-login float-right"
                                    value="Login"><i class="fas fa-sign-in-alt"></i> Login
                            </button>
                        </div>

                    </form>

                </div>

            </div>
    </section>

{% endblock %}

{% block down_scripts %}
    {{ encore_entry_script_tags('cvForm/login') }}
{% endblock %}